<div class="index-container">
  <br>
  <h1>JSON範例</h1>
  <br> 
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"> <%= link_to "修改紀錄",         "#tab1", :data => {toggle: "tab"}, style:"font-size: 1.4em" %> </li>
      <li>                <%= link_to "關鍵字搜尋地點",    "#tab2", :data => {toggle: "tab"}, style:"font-size: 1.4em" %> </li>
      <li>                <%= link_to "PID搜尋地點",      "#tab3", :data => {toggle: "tab"}, style:"font-size: 1.4em" %> </li> 
      <li>                <%= link_to "搜尋PID",         "#tab4", :data => {toggle: "tab"}, style:"font-size: 1.4em" %> </li>
      <li>                <%= link_to "搜尋地點詳情",     "#tab5", :data => {toggle: "tab"}, style:"font-size: 1.4em" %> </li>
      <li>                <%= link_to "搜尋下一頁",       "#tab6", :data => {toggle: "tab"}, style:"font-size: 1.4em" %> </li>      
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <br><br>
        <div class="well">
          <%= render "history" %>
        </div>          
      </div>         
      <div class="tab-pane" id="tab2">
        <br><br>
        <div class="well">
          <h4>搜尋 "台北市" "景點" </h4>
          <h5>
            <%= link_to ENV["api_search_by_keyword_url"] + "?str=台北市&opt=景點", 
                        ENV["api_search_by_keyword_url"] + "?str=台北市&opt=景點", :target => "_blank" %>
          </h5>
          <br>                    
          <h4>搜尋 "台北市" "餐廳" </h4>
          <h5>
            <%= link_to ENV["api_search_by_keyword_url"] + "?str=台北市&opt=餐廳", 
                        ENV["api_search_by_keyword_url"] + "?str=台北市&opt=餐廳", :target => "_blank" %>
          </h5>
          <br>
          <h4>搜尋 "台北市" "購物" </h4>
          <h5>
            <%= link_to ENV["api_search_by_keyword_url"] + "?str=台北市&opt=購物", 
                        ENV["api_search_by_keyword_url"] + "?str=台北市&opt=購物", :target => "_blank" %>
          </h5>                            
        </div>          
      </div>        
      <div class="tab-pane" id="tab3">
        <br><br>
        <div class="well">
          <h4>搜尋 "中正紀念堂" "附近景點" ( Place ID從『搜尋PID』得到 )</h4>
          <h5>
            <%= link_to ENV["api_search_by_pid_url"] + "?pid=ChIJTamiuZ2pQjQRsmnfkkID6UM&opt=景點", 
                        ENV["api_search_by_pid_url"] + "?pid=ChIJTamiuZ2pQjQRsmnfkkID6UM&opt=景點",  :target => "_blank" %>
          </h5>
          <br>
          <h4>搜尋 "中正紀念堂" "附近餐廳" ( Place ID從『搜尋PID』得到 )</h4>
          <h5>
            <%= link_to ENV["api_search_by_pid_url"] + "?pid=ChIJTamiuZ2pQjQRsmnfkkID6UM&opt=餐廳", 
                        ENV["api_search_by_pid_url"] + "?pid=ChIJTamiuZ2pQjQRsmnfkkID6UM&opt=餐廳",  :target => "_blank" %>
          </h5>
          <br>
          <h4>搜尋 "中正紀念堂" "附近購物" ( Place ID從『搜尋PID』得到 )</h4>
          <h5>
            <%= link_to ENV["api_search_by_pid_url"] + "?pid=ChIJTamiuZ2pQjQRsmnfkkID6UM&opt=購物", 
                        ENV["api_search_by_pid_url"] + "?pid=ChIJTamiuZ2pQjQRsmnfkkID6UM&opt=購物",  :target => "_blank" %>
          </h5>                            
        </div>           
      </div>           
      <div class="tab-pane" id="tab4">
        <br><br>
        <div class="well">
          <h4>搜尋 "台北市" Place ID </h4>
          <h5><%= link_to ENV["api_get_pid_url"] + "?str=台北市", 
                          ENV["api_get_pid_url"] + "?str=台北市",  :target => "_blank" %></h5>                        
        </div>          
      </div>
      <div class="tab-pane" id="tab5">
        <br><br>
        <div class="well">
          <h4>搜尋 "通堂拉麵" 地點詳情 ( Place ID從『搜尋PID』得到 ) </h4>
          <h5><%= link_to ENV["api_get_detail_url"] + "?pid=ChIJGaKzQLFp5TQRTpMN05kfffQ", 
                          ENV["api_get_detail_url"] + "?pid=ChIJGaKzQLFp5TQRTpMN05kfffQ",  :target => "_blank" %></h5>                        
        </div>      
      </div> 
      <div class="tab-pane" id="tab6">
        <br><br>
        <div class="well">
          <h4>Example:</h4>
          <h5>1. 用關鍵字搜尋
            <%= link_to ENV["api_search_by_keyword_url"] + "?str=台北市&opt=景點", 
                        ENV["api_search_by_keyword_url"] + "?str=台北市&opt=景點", :target => "_blank" %><br>
            &nbsp&nbsp&nbsp&nbsp得到next_page_token為CvQB4gAAANX.....
          </h5>
          <br>
          <h5>2. 代入Keyword Get Next Page API得到下一頁結果<br>&nbsp&nbsp&nbsp&nbsp
          <%= link_to ENV["api_get_next_page_keyword_url"] + "?token=CvQB4gAAANXvQ-XzMf9NkuQmbNyYtAK-MbdiLM7WHyZMXyA0pTpwFMT7RfnwqrZbuY-hXXzCESt8yN48ZmHz2m1ua4ke_OFnvixBDZLxKuEAh9COkSolUAjhASZ_DONWi0rbPCwNWGCIH_7bxX86VWEGw5eOTqoQ3_fXKWzB45ybQU0papXAJR6BFuHokt1P8f6R5mxtH-U_zA1oN25e8fT3_loQzXsBGjZKLzK0MB8073UmkH4TGWPMRc0VlkmrNR3gTcp7FDAfyKCUZp2UPy4P_gQEktqa3HOsfcZoRVIAH-NFbxGFqCtdE9kvLlodDsYcOfkvBhIQhO4VUXXwC0qIRJ1s9OW81BoUYrNqUO39AZuN-ePBXLW_f2abRTg", 
                      ENV["api_get_next_page_keyword_url"] + "?token=CvQB4gAAANXvQ-XzMf9NkuQmbNyYtAK-MbdiLM7WHyZMXyA0pTpwFMT7RfnwqrZbuY-hXXzCESt8yN48ZmHz2m1ua4ke_OFnvixBDZLxKuEAh9COkSolUAjhASZ_DONWi0rbPCwNWGCIH_7bxX86VWEGw5eOTqoQ3_fXKWzB45ybQU0papXAJR6BFuHokt1P8f6R5mxtH-U_zA1oN25e8fT3_loQzXsBGjZKLzK0MB8073UmkH4TGWPMRc0VlkmrNR3gTcp7FDAfyKCUZp2UPy4P_gQEktqa3HOsfcZoRVIAH-NFbxGFqCtdE9kvLlodDsYcOfkvBhIQhO4VUXXwC0qIRJ1s9OW81BoUYrNqUO39AZuN-ePBXLW_f2abRTg",  :target => "_blank" %></h5>    
          <br>
          or
          <br>
          <h5>1. 用PID搜尋
            <%= link_to ENV["api_search_by_pid_url"] + "?pid=ChIJTamiuZ2pQjQRsmnfkkID6UM&opt=景點", 
                        ENV["api_search_by_pid_url"] + "?pid=ChIJTamiuZ2pQjQRsmnfkkID6UM&opt=景點", :target => "_blank" %><br>
            &nbsp&nbsp&nbsp&nbsp得到next_page_token為CoQC_QAAAPGz.....
          </h5>
          <br>
          <h5>2. 代入Nearby Get Next Page API得到下一頁結果<br>&nbsp&nbsp&nbsp&nbsp
          <%= link_to ENV["api_get_next_page_pid_url"] + "?token=CoQC_QAAAPGzCraUCgyuuxF-HC1jsUsjIERN_oxlosHlEUQwIVp9JX6eH18Tjc-q0vRlLHkZEnpwJJCVxWBmB1IZCXHfbaa2WNKEutHIRp3kHzOBBcOZeU7juin8e1B9UWQpjcgna8WBVZvjjeMJawhHSl5YTzLWkEdIXnOAFXdwx6VhbKarMRX-DaSkH0f5ZGqc-tZ-v74g8Fit7iLOkRNKkLJePY9nP1J7ZaeLjjuUJi-Bx0oCpFNqdnERfGrEdWtFhFUEObJ6CVw_bG-PXplMWAIubHuc2M9mX_tCAGwTCtjAEhSFR8kRibkkjPehiC9oJsO57ZBOC_FwI8LITdHZDBy6eAsSEKDxGu20Axs9oMZolH2Htc4aFDzAe8X9s5d3004yOE2AUx0SLn9p", 
                      ENV["api_get_next_page_pid_url"] + "?token=CoQC_QAAAPGzCraUCgyuuxF-HC1jsUsjIERN_oxlosHlEUQwIVp9JX6eH18Tjc-q0vRlLHkZEnpwJJCVxWBmB1IZCXHfbaa2WNKEutHIRp3kHzOBBcOZeU7juin8e1B9UWQpjcgna8WBVZvjjeMJawhHSl5YTzLWkEdIXnOAFXdwx6VhbKarMRX-DaSkH0f5ZGqc-tZ-v74g8Fit7iLOkRNKkLJePY9nP1J7ZaeLjjuUJi-Bx0oCpFNqdnERfGrEdWtFhFUEObJ6CVw_bG-PXplMWAIubHuc2M9mX_tCAGwTCtjAEhSFR8kRibkkjPehiC9oJsO57ZBOC_FwI8LITdHZDBy6eAsSEKDxGu20Axs9oMZolH2Htc4aFDzAe8X9s5d3004yOE2AUx0SLn9p",  :target => "_blank" %></h5>    
        </div>      
      </div>                             
    </div>
  </div>
  <br><br><br>
</div>