<div class="jumbotron">
  <div class="index-container">
    <h2 style="margin-top: 0">搜尋地點</h2>
    <div class="row">
      <div class="col-xs-9">
        <%= form_tag '/index', method: :post do %>
          <div class="input-group">
            <input type="text" class="form-control input-lg" id="gmap_search_input" name="str"  style="width: 80%; border-radius: 5px;">
            <select id="gmap_search_select" class="selectpicker form-control input-lg" name="opt"  style="width: 20%">
              <option>景點</option>
              <option>餐廳</option>
              <option>購物</option>
            </select>
            <div class="input-group-btn">
              <%= button_tag class:"btn btn-lg btn-default" do %>
                 <span class="glyphicon glyphicon-search" style="top:3px;"></span>
              <% end %>             
            </div>
          </div> 
        <% end %>  
      </div>  
    </div>  
  </div>
</div>

<% if (params[:str] or params[:token]) and @places %>
  <div class="index-container">
    <div class="well">
      <h3 style="margin: 0"><%= @auto_complete_str %>
        搜尋<%= params[:opt] %>結果.... ( <%= link_to "隱藏地圖", "#", :id => "click", :onclick => "toggle_visibility('map', 'click');" %> )
        <% if @places["max_distance"] %>
          <span style="font-size: 12px; padding-left: 15px;">最遠兩點為: <%= @places["max_distance_description"] %> <%= (@places["max_distance"]/1000.0).round(1) %>公里</span>
        <% end %>        
        <% if @places["next_page_token"] %>
          <%= link_to "下一頁", index_path(auto_complete_str: @auto_complete_str, 
                                          auto_complete_lat: @auto_complete_lat, 
                                          auto_complete_lng: @auto_complete_lng, 
                                          token: @places["next_page_token"]), class: "pull-right", style:"font-size: 20px" %>
        <% end %>
      </h3>
    </div> 
    
    <div id="map" style="width: 100%; height: 400px; display: block"></div><br>  

    <div>
      <%= render "place_list", nearby: false %> 
    </div>
    <br><br><br><br>
  </div>   
<% else %>
  <%= render "json_example" %>
<% end %>



<script type="text/javascript">
  <% if @places  %>
    <% location_array = @places["results"].map {|r| [r["name"], 
                                                    r["lat"], 
                                                    r["lng"], 
                                                    r["rating"] ? r["rating"].to_s : "N/A"]} %>
  
    var locations = <%= raw location_array %>;

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: new google.maps.LatLng(<%= @auto_complete_lat %>, <%= @auto_complete_lng %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    <% if @places["max_distance_origin_cor"] %>
      var bound_0 = new google.maps.LatLng(<%= @places["max_distance_origin_cor"][0] %>, <%= @places["max_distance_origin_cor"][1] %>);
      var bound_1 = new google.maps.LatLng(<%= @places["max_distance_destination_cor"][0] %>, <%= @places["max_distance_destination_cor"][1] %>);
      var bounds = new google.maps.LatLngBounds();
      bounds.extend(bound_0);
      bounds.extend(bound_1);
      map.fitBounds(bounds);
    <% end %>

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent("<h5><b>"+locations[i][0]+"</b></h5>"+"景點評分: "+locations[i][3]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

    marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= @auto_complete_lat %>, <%= @auto_complete_lng %>),
      map: map,
      icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent("<h5><b>搜尋點" + "</b></h5>");
        infowindow.open(map, marker);
      }
    })(marker, i));    

  <% end %>      
</script>

<script>
  function toggle_visibility(id1, id2) {
     var e1 = document.getElementById(id1);
     if(e1.style.display == 'block')
        e1.style.display = 'none';
     else
        e1.style.display = 'block';

     var e2= document.getElementById(id2);
     if(e2.text == '顯示地圖')
        e2.text = '隱藏地圖';
     else
        e2.text = '顯示地圖';      
  }
</script>