<div class="jumbotron">
  <div class="container">
    <h2 style="margin-top: 0">搜尋遊記</h2>
    <div class="row">
      <div class="col-xs-9">
        <%= form_tag '/index', method: :post do %>
          <div class="input-group">
            <input type="text" class="form-control input-lg" id="gmap_search_input" name="search_string" aria-label="...">        
            <div class="input-group-btn">
              <%= button_tag class:"btn btn-lg btn-default" do %>
                 <span class="glyphicon glyphicon-search" style="top:3px;"></span>
              <% end %>             
            </div>
          </div> 
        <% end %>  
      </div>  
    </div>  
  </div>
</div>

<% if params[:search_string] %>
  <div class="container">
    <div class="well">
      <h3 style="margin: 0"><%= params[:search_string] %> 搜尋結果....( <%= link_to "JSON結果", generate_json_path(search_string: params[:search_string]), 
                                                                     :target => "_blank" %> )</h3>
    </div> 
    <% for article in @articles %> 
      <% photo_url = article["thumb"] %>      
      <div class="media" style="margin-top: 30px;">
        <div class="media-left" style="padding-right: 80px;">
          <%= link_to article["link"], target: "_blank" do %>
            <div style="width: 90px; height: 90px;">
              <%= image_tag(photo_url, class: 'media-object', style:"width: 100%; height: 100%; object-fit: contain;") %>                
            </div>

          <% end %>
        </div>
        <div class="media-body" style="vertical-align: middle;">
          <h4 class="media-heading"><%= link_to article["title"], article["link"], target: "_blank" %>
          <h5>景點分類: <%= article["category"] %> (20<%= article["public_at"][0..1] %>)</h5>
          <h5>全站分類: <%= article["site_category"] %></h5>
        </div>
      </div>                
    <% end %>
  </div>   
<% end %>
