<div class="jumbotron">
  <div class="container">
    <h2 style="margin-top: 0">搜尋景點</h2>
    <div class="row">
      <div class="col-xs-9">
        <%= form_tag '/index', method: :post do %>
          <div class="input-group">
            <input type="text" class="form-control input-lg" id="gmap_search_input" name="search_string" aria-label="...">        
            <div class="input-group-btn">
              <%= button_tag class:"btn btn-lg btn-default" do %>
                 <span class="glyphicon glyphicon-search" style="top:3px;"></span>
              <% end %>             
            </div>
          </div> 
        <% end %>  
      </div>  
    </div>  
  </div>
</div>

<% if params[:search_string] %>
  <div class="container">
    <div class="well">
      <h3 style="margin: 0"><%= params[:search_string] %> 搜尋結果....( <%= link_to "JSON結果", generate_json_path(search_string: params[:search_string]), 
                                                                     :target => "_blank" %> )</h3>
    </div> 
    <% for location in @response %> 
      <% if location["photos"] %>
        <% photo_url = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=" +
                       location["photos"][0]["photo_reference"] + 
                       "&key=#{ENV["google_api_key"]}" %>      
        <div class="media">
          <div class="media-left" style="padding-right: 80px;">
            <%= link_to "#" do %>
              <div style="width: 200px; height: 200px;">
                <%= image_tag(photo_url, class: 'media-object', style:"width: 100%; height: 100%; object-fit: contain;") %>                
              </div>

            <% end %>
          </div>
          <div class="media-body" style="vertical-align: middle;">
            <h3 class="media-heading"><%= location["name"] %></h3>
            <h4>景點評分: <%= location["rating"] %></h4>
            <h4>景點座標: [<%= location["geometry"]["location"]["lat"] %>,<%= location["geometry"]["location"]["lng"] %>]</h4>
          </div>
        </div>           
       <% end %>           
    <% end %>
  </div>   
<% end %>

<script>
  function initialize() {
      var input = document.getElementById('gmap_search_input');
      var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>