<div class="jumbotron">
  <div class="index-container">
    <h2 style="margin-top: 0">搜尋地點</h2>
    <div class="row">
      <div class="col-xs-9">
        <%= form_tag '/index', method: :post do %>
          <div class="input-group">
            <input type="text" class="form-control input-lg" id="gmap_search_input" name="search_string"  style="width: 80%; border-radius: 5px;">
            <select id="gmap_search_select" class="selectpicker form-control input-lg" name="search_option"  style="width: 20%">
              <option>景點</option>
              <option>餐廳</option>
              <option>購物</option>
            </select>
            <div class="input-group-btn">
              <%= button_tag class:"btn btn-lg btn-default" do %>
                 <span class="glyphicon glyphicon-search" style="top:3px;"></span>
              <% end %>             
            </div>
          </div> 
        <% end %>  
      </div>  
    </div>  
  </div>
</div>

<% if params[:search_string] %>
  <div class="index-container">
    <div class="well">
      <h3 style="margin: 0"><%= @place["description"] %>
        搜尋<%= params[:search_option] %>結果....
      </h3>
    </div> 

    <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#attraction" data-toggle="tab"><h4>景點</h4></a>
        </li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content">
        <div  class="tab-pane active" id="attraction">
          <% for location in @response %> 
            <% if location["photos"] %>
              <% photo_url = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=" +
                             location["photos"][0]["photo_reference"] + 
                             "&key=#{ENV["google_api_key"]}" %>      
              <div class="media">
                <div class="media-left" style="padding-right: 80px;">
                  <%= link_to "#" do %>
                    <div style="width: 200px; height: 200px;">
                      <%= image_tag(photo_url, class: 'media-object', style:"width: 100%; height: 100%; object-fit: contain;") %>                
                    </div>

                  <% end %>
                </div>
                <div class="media-body" style="vertical-align: middle;">
                  <h3 class="media-heading">
                    <%= link_to location["name"], detail_path(place_id: location["place_id"], 
                                                              search_string: params[:search_string] ? params[:search_string] : "",
                                                              search_option: params[:search_option] ? params[:search_option] : "",
                                                              redirect: true) %>
                  </h3>
                  <% if location["rating"] %>
                    <h4>
                      <b>景點評分：</b><span style="color: #e7711b;"><%= location["rating"] %>&nbsp</span>
                      <% location["rating"].floor.times do %>
                        <span class="glyphicon glyphicon-star" style="top: 3px; color: #e7711b;"></span>
                      <% end %>
                      <% (5-location["rating"].floor).times do %>
                        <span class="glyphicon glyphicon-star-empty" style="top: 3px; color: #e7711b;"></span>
                      <% end %>
                    </h4>
                  <% end %>
                  <h4><b>景點分類：</b><%= location["types"] %></h4>
                </div>            
              </div>           
             <% end %>           
          <% end %>          
        </div>
      </div>
    </div>
    <br><br><br><br>
  </div>   
<% else %>
  <div class="index-container">
    <br>
    <h1>JSON範例</h1>
    <br> 
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"> <%= link_to "關鍵字搜尋地點",    "#tab1", :data => {toggle: "tab"}, style:"font-size: 1.4em" %> </li>
        <li>                <%= link_to "PID搜尋地點", "#tab2", :data => {toggle: "tab"}, style:"font-size: 1.4em" %> </li> 
        <li>                <%= link_to "搜尋PID", "#tab3", :data => {toggle: "tab"}, style:"font-size: 1.4em" %> </li>
        <li>                <%= link_to "搜尋地點詳情",  "#tab4", :data => {toggle: "tab"}, style:"font-size: 1.4em" %> </li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <br><br>
          <div class="well">
            <h4>搜尋 "台北市" "景點" </h4>
            <h5>
              <%= link_to search_by_keyword_url+"?search_string=台北市&search_option=景點", 
                          search_by_keyword_path(search_option: "景點", search_string: "台北市"), :target => "_blank" %>
            </h5>
            <br>                    
            <h4>搜尋 "台北市" "餐廳" </h4>
            <h5>
              <%= link_to search_by_keyword_url+"?search_string=台北市&search_option=餐廳", 
                          search_by_keyword_path(search_option: "餐廳", search_string: "台北市"), :target => "_blank" %>
            </h5>
            <br>
            <h4>搜尋 "台北市" "購物" </h4>
            <h5>
              <%= link_to search_by_keyword_url+"?search_string=台北市&search_option=購物", 
                          search_by_keyword_path(search_option: "購物", search_string: "台北市"), :target => "_blank" %>
            </h5>                            
          </div>          
        </div>        
        <div class="tab-pane" id="tab2">
          <br><br>
          <div class="well">
            <h4>搜尋 "中正紀念堂" "附近景點" ( Place ID從『搜尋PID』得到 )</h4>
            <h5>
              <%= link_to search_by_place_id_url+"?place_id=ChIJTamiuZ2pQjQRsmnfkkID6UM&search_option=景點", 
                          search_by_place_id_path(search_option: "景點", place_id: "ChIJTamiuZ2pQjQRsmnfkkID6UM"), :target => "_blank" %>
            </h5>
            <br>
            <h4>搜尋 "中正紀念堂" "附近餐廳" ( Place ID從『搜尋PID』得到 )</h4>
            <h5>
              <%= link_to search_by_place_id_url+"?place_id=ChIJTamiuZ2pQjQRsmnfkkID6UM&search_option=餐廳", 
                          search_by_place_id_path(search_option: "餐廳", place_id: "ChIJTamiuZ2pQjQRsmnfkkID6UM"), :target => "_blank" %>
            </h5>
            <br>
            <h4>搜尋 "中正紀念堂" "附近購物" ( Place ID從『搜尋PID』得到 )</h4>
            <h5>
              <%= link_to search_by_place_id_url+"?place_id=ChIJTamiuZ2pQjQRsmnfkkID6UM&search_option=購物", 
                          search_by_place_id_path(search_option: "購物", place_id: "ChIJTamiuZ2pQjQRsmnfkkID6UM"), :target => "_blank" %>
            </h5>                            
          </div>           
        </div>           
        <div class="tab-pane" id="tab3">
          <br><br>
          <div class="well">
            <h4>搜尋 "台北市" Place ID </h4>
            <h5><%= link_to get_place_id_url+"?search_string=台北市", 
                    get_place_id_path(search_string: "台北市"), :target => "_blank" %></h5>                        
          </div>          
        </div>
        <div class="tab-pane" id="tab4">
          <br><br>
          <div class="well">
            <h4>搜尋 "通堂拉麵" 地點詳情 ( Place ID從『搜尋PID』得到 ) </h4>
            <h5><%= link_to get_detail_url+"?place_id=ChIJGaKzQLFp5TQRTpMN05kfffQ", 
                    get_detail_path(place_id: "ChIJGaKzQLFp5TQRTpMN05kfffQ"), :target => "_blank" %></h5>                        
          </div>      
        </div>                     
      </div>
    </div>
    <br><br><br>
  </div>
<% end %>

<script>
  function initialize() {
      var input = document.getElementById('gmap_search_input');
      var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>