<br><br> 
<div class="container col-xs-8" style="left:16.7%">
  <div class="well" id="detail-well">
    <h1>
      <%= @place["name"] %>
      <%= link_to "返回首頁", index_path, class:"pull-right", style:"font-size: 0.7em" %>      
    </h1>
    
    <h4 style="color: #e7711b;">
      <% if @place["rating"] %>
        <%= @place["rating"] %>&nbsp
        <% @place["rating"].floor.times do %>
          <span class="glyphicon glyphicon-star" style="top: 3px"></span>
        <% end %>
        <% (5-@place["rating"].floor).times do %>
          <span class="glyphicon glyphicon-star-empty" style="top: 3px"></span>
        <% end %>
        &nbsp&nbsp&nbsp&nbsp
      <% end %>
      <div id="detail-label">
        <span class="label label-default" style="font-size: 0.3em;">
          <%= link_to "附近景點", near_by_path(place_id: @place["place_id"], 
                                              ori_string: params["search_string"], 
                                              ori_option: params["search_option"], 
                                              search_string: @place["name"], 
                                              search_option: "景點", 
                                              redirect: params["redirect"]), 
                                              style: "color: white;" %>
        </span>
        <span class="label label-default" style="font-size: 0.3em;">
          <%= link_to "附近餐廳", near_by_path(place_id: @place["place_id"], 
                                              ori_string: params["search_string"], 
                                              ori_option: params["search_option"], 
                                              search_string: @place["name"], 
                                              search_option: "餐廳", 
                                              redirect: params["redirect"]), 
                                              style: "color: white;" %>
        </span>
        <span class="label label-default" style="font-size: 0.3em;">
          <%= link_to "附近購物", near_by_path(place_id: @place["place_id"], 
                                              ori_string: params["search_string"], 
                                              ori_option: params["search_option"], 
                                              search_string: @place["name"], 
                                              ori_option: params["search_option"], 
                                              search_option: "購物", 
                                              redirect: params["redirect"]), 
                                              style: "color: white;" %>
        </span>    
      </div>    
    </h4>      

    <br>

    <div class="row" style="padding-left: 20px;">
        <% photo_url_prefix = "https://maps.googleapis.com/maps/api/place/photo?maxheight=400&key=#{ENV["google_api_key"]}&photoreference=" %> 
      <% if @place["photos"][0] %>
        <%= image_tag photo_url_prefix + @place["photos"][0]["photo_reference"], style:"height: 130px; max-width: 200px;" %>
      <% end %>
      <% if @place["photos"][1] %>
        <%= image_tag photo_url_prefix + @place["photos"][1]["photo_reference"], style:"height: 130px; max-width: 200px;" %>
      <% end %>
      <% if @place["photos"][2] %>
        <%= image_tag photo_url_prefix + @place["photos"][2]["photo_reference"], style:"height: 130px; max-width: 200px;" %>
      <% end %>  
      <% if @place["photos"][3] %>
        <%= image_tag photo_url_prefix + @place["photos"][3]["photo_reference"], style:"height: 130px; max-width: 200px;" %>
      <% end %>                  
    </div>

    <br>

    <h5><b>地址：</b><%= @place["formatted_address"] %></h5>

    <h5><b>座標：</b>[<%= @place["geometry"]["location"]["lat"] %>, <%= @place["geometry"]["location"]["lng"] %>]</h5>

    <h5><b>分類：</b><%= @place["types"] %></h5>

    <% if @place["formatted_phone_number"] %>
      <h5><b>電話：</b><%= @place["formatted_phone_number"] %></h5>
    <% end %>

    <% if @place["website"] %>
      <h5><b>網址：</b><%= link_to @place["website"], @place["website"] %></h5>
    <% end %>

    <% if @place["opening_hours"] %>
      <h5><b>開放時間：</b>
        <% if @place["opening_hours"]["open_now"] == "false" %>
          <%= link_to "#openhour", :data => {:toggle=>"collapse"} do %>
            今日已休息 <%= @place["opening_hours"]["weekday_text"][Date.today.wday-1] %>
          <% end %>
        <% else %>
          <%= link_to "#openhour", :data => {:toggle=>"collapse"} do %>
            今日正常營業 <%= @place["opening_hours"]["weekday_text"][Date.today.wday-1] %>
          <% end %>
        <% end %>   
        <div class="collapse" id="openhour" style="padding-left: 80px;">
          <% @place["opening_hours"]["weekday_text"].each do |w| %>
            <h5><%= w %><br></h5>
          <% end %>
        </div>  
      </h5>       
    <% end %>

    <br><br>

    <iframe src = <%= @place["url"] + "&output=embed" %> frameborder='0' style='border:0' width='600' height='300' allowfullscreen></iframe>
    <br><br><br>

    <% if @place["reviews"] %>
      <h4 style="padding-bottom: 10px;">
        <%= link_to @place["user_ratings_total"].to_s + " 則 Google 評論", @place["url"], target: "_blank" %> 
      </h4>

      <table class="table table-hover table-condensed table-borderless">
        <thead>
          <tr>
            <th width="8%"></th>
            <th width="15%"></th>
            <th width="77%"></th>
          </tr>
        </thead>
        <tbody>
          <% @place["reviews"].each do |r| %>
            <tr>
              <td>
                <% if r["profile_photo_url"] %>
                  <%= image_tag r["profile_photo_url"], height: '40', width: '40', style: "border-radius: 20px;" %>
                <% else %>
                  <%= image_tag "unknow.jpg", height: '40', width: '40', style: "border-radius: 20px;" %>
                <% end %>            
              </td>
              <td>
                <% r["rating"].times do %>
                  <span class="glyphicon glyphicon-star" style="top: 3px"></span>
                <% end %>
                <% (5-r["rating"]).times do %>
                  <span class="glyphicon glyphicon-star-empty" style="top: 3px"></span>
                <% end %>            
              </td>
              <td style="padding-top: 8px;"><%= r["text"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>  
