<div class="jumbotron">
  <div class="index-container">
    <h2 style="margin-top: 0">
      返回景點 <%= link_to params[:search_string], detail_path(place_id: params[:place_id], 
                                                             search_string: params[:ori_string],
                                                             search_option: params[:ori_option],
                                                             redirect: params["redirect"]) %>  
    </h2>
  </div>
</div>

<% if params[:search_string] %>
  <div class="index-container">
    <div class="well">
      <h3 style="margin: 0"><%= params[:search_string] %>
        附近<%= params[:search_option] %>搜尋結果....
      </h3>
    </div> 
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#attraction" data-toggle="tab"><h4>附近<%= params[:search_option] %></h4></a>
        </li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content">
        <div  class="tab-pane active" id="attraction">
          <% for location in @response %> 
            <% if location["photos"] %>
              <% photo_url = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=" +
                             location["photos"][0]["photo_reference"] + 
                             "&key=#{ENV["google_api_key"]}" %>      
              <div class="media">
                <div class="media-left" style="padding-right: 80px;">
                  <%= link_to "#" do %>
                    <div style="width: 200px; height: 200px;">
                      <%= image_tag(photo_url, class: 'media-object', style:"width: 100%; height: 100%; object-fit: contain;") %>                
                    </div>

                  <% end %>
                </div>
                <div class="media-body" style="vertical-align: middle;">
                  <h3 class="media-heading">
                    <%= link_to location["name"], near_by_detail_path(place_id: location["place_id"], 
                                                              search_string: params[:search_string] ? params[:search_string] : "",
                                                              search_option: params[:search_option] ? params[:search_option] : "",
                                                              redirect: true) %>
                  </h3>
                  <% if location["rating"] %>
                    <h4>
                      <b>景點評分：</b><span style="color: #e7711b;"><%= location["rating"] %>&nbsp</span>
                      <% location["rating"].floor.times do %>
                        <span class="glyphicon glyphicon-star" style="top: 3px; color: #e7711b;"></span>
                      <% end %>
                      <% (5-location["rating"].floor).times do %>
                        <span class="glyphicon glyphicon-star-empty" style="top: 3px; color: #e7711b;"></span>
                      <% end %>
                    </h4>
                  <% end %>
                  <h4><b>景點分類：</b><%= location["types"] %></h4>
                </div>
              </div>           
             <% end %>           
          <% end %>          
        </div>
      </div>
    </div>
    <br><br><br><br>
  </div>   
<% end %>
