<div class="jumbotron">
  <div class="index-container">
    <h2 style="margin-top: 0">統計數據</h2>
    <div class="row">
      <div class="col-xs-9"> 
      </div>  
    </div>  
  </div>
</div>

<div class="index-container">
  <div class="row">
    <div class="col-xs-10">
			<h3>景點統計</h3>
			<br>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab1" data-toggle="tab"><h4>搜尋字串統計</h4></a>
				</li>
				<li >
					<a href="#tab2" data-toggle="tab"><h4>搜尋地點詳情統計</h4></a>
				</li>				
				<li >
					<a href="#tab3" data-toggle="tab"><h4>PID搜尋統計</h4></a>
				</li>
				<li >
					<a href="#tab4" data-toggle="tab"><h4>Web API 執行次數</h4></a>
				</li>				
			</ul>
			
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<table class="table table-hover table-borderless sortable" id="stat">
						<thead>
							<tr>
								<th width="37%">關鍵字</th>
								<th width="7%">類別</th>
								<th width="7%">次數</th>
								<th width="7%">自動</th>
								<th width="7%"> Debug</th>
								<th width="7%"> 數量</th>
								<th width="7%"> TA</th>
								<th width="21%">最後更新</th>
							</tr>
						</thead>
						<tbody>
							<% @statistics["keyword_count"].each do |k| %>	  
								<tr>
									<td>
										<span class="label label-default" style="font-size: 1.1em">
											<%= link_to k["keyword"].truncate(35), keyword_path(str: k["keyword"], opt: k["option"]), style: "color: white", :target => "_blank" %>
										</span>
									</td>
									<td><%= k["option"] %></td>
									<td><%= k["count"] %></td>
									<td><%= k["autocomplete"] ? "是" : "否" %></td>
									<td><%= k["debug"] %></td>
									<td><%= k["r_count"] %></td>
									<td><%= k["ta_count"] %></td>
									<td><%= Time.parse(k["updated_at"]).in_time_zone('Taipei').strftime("%F %H:%M") %></td>
								</tr>
							<% end %>																																						
						</tbody>
					</table>						
				</div>
				<div class="tab-pane" id="tab2">
					<table class="table table-hover table-borderless" id="stat">
						<thead>
							<tr>
								<th width="65%">名稱</th>
								<th width="10%">次數</th>
								<th width="25%">最後更新</th>
							</tr>
						</thead>
						<tbody>
							<% @statistics["detail_count"].each do |k| %>	  
								<tr>
									<td>
										<span class="label label-default" style="font-size: 1.1em">
											<%= link_to k["name"], detail_path(pid: k["pid"]), style: "color: white", :target => "_blank" %>
										</span>
									</td>
									<td><%= k["count"] %></td>
									<td><%= Time.parse(k["updated_at"]).in_time_zone('Taipei').strftime("%F %H:%M") %></td>
								</tr>
							<% end %>																																						
						</tbody>
					</table>						
				</div>				
				<div class="tab-pane" id="tab3">
					<table class="table table-hover table-borderless" id="stat">
						<thead>
							<tr>
								<th width="55%">PID</th>
								<th width="10%">類別</th>
								<th width="10%">次數</th>
								<th width="25%">最後更新</th>
							</tr>
						</thead>
						<tbody>
							<% @statistics["pid_count"].each do |k| %>	  
								<tr>
									<td>
										<span class="label label-default" style="font-size: 1.1em">
											<%= link_to k["pid"], nearby_path(pid: k["pid"], new_opt: k["option"]), style: "color: white", :target => "_blank" %>
										</span>
									</td>
									<td><%= k["option"] %></td>
									<td><%= k["count"] %></td>
									<td><%= Time.parse(k["updated_at"]).in_time_zone('Taipei').strftime("%F %H:%M") %></td>
								</tr>
							<% end %>																																						
						</tbody>
					</table>						
				</div>
				<div class="tab-pane" id="tab4">
					<table class="table table-hover table-borderless" id="stat">
						<thead>
							<tr>
								<th width="85%">功能</th>
								<th width="15%">次數</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>JSON關鍵字搜尋地點</td>
								<td><%= @statistics["cnt_search_by_keyword"] %></td>
							</tr>
							<tr>
								<td>JSON PID搜尋地點</td>
								<td><%= @statistics["cnt_search_by_pid"] %></td>
							</tr>
							<tr>
								<td>JSON座標搜尋地點</td>
								<td><%= @statistics["cnt_search_by_coordinate"] %></td>
							</tr>
							<tr>
								<td>JSON關鍵字下一頁</td>
								<td><%= @statistics["cnt_get_next_page_keyword"] %></td>
							</tr>
							<tr>
								<td>JSON PID下一頁</td>
								<td><%= @statistics["cnt_get_next_page_pid"] %></td>
							</tr>
							<tr>
								<td>JSON搜尋PID</td>
								<td><%= @statistics["cnt_get_pid"] %></td>
							</tr>
							<tr>
								<td>JSON地點詳情</td>
								<td><%= @statistics["cnt_get_detail"] %></td>
							</tr>																																										
						</tbody>
					</table>						
				</div>				
			</div>
    </div>  
  </div>  
</div>

<br><br><br><br><br>