<nav class="navbar navbar-default" role="navigation" style="margin: 0; background-color: #eeeeee; height: 80px; border: 0;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "幫旅(遊)", root_path, class: "navbar-brand", style: "font-size: 1.8em; font-weight: bold; padding-top: 30px; padding-left: 40px;" %>
    </div>
    <div class="pull-right" style="padding-right: 100px;">
      <b>地點搜尋:</b> <%= SearchCount.first.cnt0 %>,&nbsp&nbsp
      <b>地點詳情搜尋:</b> <%= SearchCount.first.cnt1 %>,&nbsp&nbsp
      <b>附近地點搜尋:</b> <%= SearchCount.first.cnt2 %>,&nbsp&nbsp
      <b>附近地點詳情:</b> <%= SearchCount.first.cnt3 %>,&nbsp&nbsp
      <b>JSON關鍵字搜尋地點:</b> <%= SearchCount.first.cnt4 %>,&nbsp&nbsp
      <b>JSON ID搜尋地點:</b> <%= SearchCount.first.cnt5 %>,&nbsp&nbsp
      <b>JSON ID搜尋:</b> <%= SearchCount.first.cnt6 %>,&nbsp&nbsp
      <b>JSON地點詳情:</b> <%= SearchCount.first.cnt7 %>
    </div>
  </div>
</nav>