<!DOCTYPE html>
<html>
<head>
  <title>幫旅(遊)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyB0UED0ms1Q349SuuKxosnRgab8JNQJwys&signed_in=true&libraries=places" %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "common/navbar" %>
<%= yield %>

</body>
</html>
